@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
}

html{ scroll-behavior: smooth; }

body{
    background-color: #121212;
    color: #eee;
    overflow-x: hidden;
    position: relative;

    /* padding: 0.8rem; */
}
a{ text-decoration: none; }
li{ list-style: none; }

.seccion_contacto{
    width: 100%;
    padding: 4rem 1rem;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: solid 1px;
    gap: 3rem;

    .contacto_header{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h2{ font-size: clamp(1.8rem, 3vw, 2.4rem); }
        p{ font-size: 0.95rem; opacity: 0.8; }
    }
    .contacto_contenido{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .contacto_info{
        background: #161616;
        padding: 2rem 4rem;
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        /* width: 60%; */

        h3{ font-size: 1.8rem; text-align: center; padding-bottom: 1rem; }
        .sucursales{
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 5rem;

            .sucursal_div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                padding: 1rem 0;

                .sucursal_info{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 0 1rem;
                    border-left: white solid;

                    strong{ font-size: 1.3rem; }
                    p{ font-size: 1rem; }
                }
                .sucursal_redes{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        padding: 0.8rem 2rem;
                        background: #1f1f1f;
                        border: 1px solid #2a2a2a;
                        border-radius: 999px;
                        color: #fff;
                        border: none;
                        font-size: 0.9rem;
                        box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
                        transition: box-shadow 0.4s, transform 0.2s;
                        font-family: "Montserrat", sans-serif;

                        img{
                            width: 15px;
                            height: 15px;
                        }
                    }
                    a:hover, a:active{
                        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

/* Responsive */
@media (max-width: 768px){
    body{ width: 100%; overflow-x: hidden; }

}

@media (max-width: 900px){
    body{ width: 100%; overflow-x: hidden; }

    #menu{ display: none; }
    header nav ul .barra{ display: block; }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px){

    
}

/* Teléfonos (general) */
@media (max-width: 768px){
    body{ width: 100%; overflow-x: hidden; }

    header{
        .logo{ gap: 0.5rem; }
        nav{ ul{ gap: 0.5rem; .secciones:active, .secciones:active::after{ opacity: 1;  text-shadow: 2px 2px 10px white; } } }
    }

}

/* Teléfonos pequeños */
@media (max-width: 480px){
    header{
        width: 100%;
        height: 80px;
        .logo{
            gap: 0.5rem;
            img{ width: 70px; }
            p{ font-size: 0.9rem; }
        }
        nav{
            ul{ .barra{ font-size: 0.1rem; padding: 0; } }
            .sidebar{
                width: 50%;
                height: 200vh;
                position: fixed;
                .secciones, .cerrar_sidebar{ height: 50px; padding: 0 1rem; }
                .cerrar_sidebar{ padding: 2rem 1rem; }
            }
        }
    }

}



@media (max-width: 400px){
    .seccion_contacto{

        .contacto_contenido{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .contacto_info{
            padding: 2rem;
            width: 100%;
            gap: 1rem;

            h3{ font-size: 1.4rem; width: 100%; }
            .sucursales{
                flex-direction: column;
                gap: 2rem;

                .sucursal_div{

                    .sucursal_info{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 0 1rem;
                        border-left: white solid;

                        strong{ font-size: 1.1rem; }
                        p{ font-size: 0.85rem; }
                    }
                    .sucursal_redes{
                        width: 110%;
                        gap: 1rem;
                        
                        a{ padding: 0.8rem 2rem; }
                    }
                    .sucursal_redes{ a{ font-size: 0.75rem; } }
                }
            }
        }
    }
}

@media (min-width: 401px) and (max-width: 600px){
    .seccion_contacto{

        .contacto_contenido{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .contacto_info{
            padding: 2rem;
            width: 90%;

            h3{ font-size: 1.3rem; }
            .sucursales{
                flex-direction: column;
                gap: 2rem;

                .sucursal_div{
                    .sucursal_info{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding: 0 1rem;
                        border-left: white solid;

                        strong{ font-size: 1rem; }
                        p{ font-size: 0.82rem; }
                    }
                    .sucursal_redes{
                        width: 100%;
                        gap: 1rem;
                        
                        a{ padding: 0.8rem 2rem; }
                    }
                    .sucursal_redes{ a{ font-size: 0.85rem; } }
                }
            }
        }
    }
}

@media (min-width: 601px) and (max-width: 800px){
    .seccion_contacto{

        .contacto_contenido{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .contacto_info{
            padding: 2rem;
            width: 70%;

            h3{ font-size: 1.5rem; }

            .sucursales{
                flex-direction: column;
                gap: 2rem;

                .sucursal_div{

                    .sucursal_redes{
                        width: 100%;
                        gap: 1rem;
                        
                        a{ padding: 0.8rem 2rem; }
                    }
                    .sucursal_redes{ a{ font-size: 0.9rem; } }
                }
            }
        }
    }
}

@media (min-width: 801px) and (max-width: 900px){
    .seccion_contacto{
        .contacto_info{
            gap: 2.5rem;
            padding: 2.5rem 0;
            width: 60%;

            .sucursales{
                flex-direction: column;
                gap: 2rem;

                .sucursal_div{

                    .sucursal_redes{
                        width: 100%;
                        gap: 1rem;
                        
                        a{ padding: 0.8rem 2rem; }
                    }
                    .sucursal_redes{ a{ font-size: 1rem; } }
                }
            }
        }
    }
}

@media (min-width: 901px) and (max-width: 1200px){
    .seccion_contacto{
        .contacto_info{
            padding: 2rem;
            gap: 2rem;
            width: 80%;
        }
    }
}

